
@media (min-width: 1200px){
.container {
    max-width: 1170px;
}
.start-header .container {
    max-width: 1260px;
}




}
@media (max-width: 767.98px) {
.start-header {
	
	padding: 10px 0;
	
}
.bannerarea .rhttext {
    max-width: 100%;
    float: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.bannerarea .rht {
    max-width: 100%;
    float: none;
    position: relative;
    z-index: 1;
    width: 100%;
}
.bannerarea .rhttext .bannerarea_textbox .logoicon {
	
	display: none;
}
.bannerarea .rht #sync1 .img-hldr {
	
	height: 300px;
	
}
.bannerarea .rhttext .bannerarea_textbox {
	max-width: 409px;
	float: left;
	padding: 70px;
}
.bannerarea .rhttext .bannerarea_textbox h1 {
	
	font-size: 30px;

	margin-bottom: 40px;
}
.bannerarea .rhttext {
	max-width: auto;
	width: auto;
	
}
.bannerarea .rht #sync2 img {
	/* width: 120px; */
	height: 60px;
	
}
.bannerarea {
	
	margin-top: 64px;
}
.bannerarea  .btn-light {
	padding: 7px 16px;
	border-radius: 0 20px 20px;
	box-shadow: 0px 2px 0px #ed1c24;
	font-size: 12px;
}
.bannerarea .rhttext .bannerarea_textbox h1 {
    font-size: 30px;
    margin-bottom: 24px;
    color: #fff;
    text-shadow: 2px 2px #00000054;
}
.bannerarea .rhttext .bannerarea_textbox {
	
	padding-top: 119px;
}
.menu ul li:hover ul li a {
	color: #fff;
}
.menu ul li:hover ul li a:hover {
	color: #000;
}
.menu ul li ul li {
	border-bottom:none;
}
.becomemember_area .becomememberleft .becomememberleftthumble {
	
	display: none;
}
.becomemember_area .becomememberight_textbox {
	padding: 0;
}
.becomemember_area {
	padding: 40px 0;
}
.becomemember_area .becomememberleft::before {
	
	display: none;
}
.becomemember_area .becomememberleft::after {
	
	display: none;
}
.gallery_area ul li:first-child img {
	max-width: 180px;
	height: 180px;
	margin: 0;
}
.gallery_area ul li:nth-of-type(2) img {
	max-width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 0 30px;
}
.gallery_area ul li:nth-of-type(3) img {
	max-width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 0 30px;
	position: relative;
	left: 0;
	top: 0;
}
.gallery_area .hedingbox {
	position: relative;
	right: 0;
	top: 0;
}
.gallery_area ul li:nth-of-type(4) img {
	max-width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 0 30px;
	margin-top: 0;
	margin-left: 0;
}
.gallery_area ul li:nth-of-type(5) img{
	max-width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 0 30px;
	margin-top: 0;
	margin-left: 0;
}
.gallery_area ul li:nth-of-type(5) {
	max-width: 247px;
	height: auto;
	overflow: hidden;
	border-radius: 0 30px;
	margin-top: 5px;
	margin-left: 0;
}
.p-9 {
	padding: 30px 0;
}
.gallery_area {
	padding-bottom: 10px !important;
}
.ourblog_box {
	
	max-width: 330px;
	margin: auto;
	margin-top: 30px;
}
.gallery_area {
	position: relative;
	padding-top: 15px !important;
}
.gallery_area ul li:nth-of-type(6) img {
	max-width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 0 30px;
	position: relative;
	bottom: auto;
	left: 0;
	object-fit: cover;
}
.our_blogarea h2 {
	font-size: 34px;
	text-transform: capitalize;
	margin-bottom: 20px;
	
}
.our_blogarea h2 small::after {
	
	top: -40px;
	background-image: url(../images/afterimg1.png);
	width: 4px;
	height: 36px;
	
}
ul.footermenu li a {
	padding: 4px 9px;
	
	font-size: 10px;
	
}
ul.footermenu li a::after {
	
	top: 4px;
	color: #fff;
	font-size: 9px;
}
.footer_top {
	padding-top: 24px;
	text-align: center;
}
.footer_top .footer_logo {
	
	max-width: 220px;
	margin: auto;
	margin-bottom: 15px;
}
ul.footeradress li a span {
	margin-right: 5px;
	width: 26px;
	height: 26px;
	line-height: 24px;
	font-size: 10px;
}
.gallery_area h2 {
	font-size: 34px;
	
	margin-bottom: 20px;
}
.becomememberight_textbox h2 {
	font-size: 40px;
	
	margin-bottom:30px;
	line-height: 40px;
}
ul.footerapplogo li {
	max-width: 130px;
}
ul.footerapplogo li:last-child {
	max-width: 110px;
}
.ministries_area .ministries_leftbox h2 {
	font-size: 34px;
	
	margin-bottom:30px;
}
.ourservices_area h2 {
	font-size: 34px;
	
	margin-bottom: 30px;
	
}
.aboutus_area .aboutus_right h2 {
	font-size: 40px;
	
}
.aboutus_area .aboutus_left img.bigimg {
	display: flex;
	height: 386px;
}
.aboutus_area .aboutus_left .ministries_thummini {
	
	max-width: 149px;
	
	height: 156px;
	
}
.latest_messagearea .latest_message_left h2 {
	font-size: 38px;
	margin-bottom: 10px;
}
.latest_messagearea .latest_message_left h2 small {
	
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 16px;
}
.latest_messagearea .latest_message_left {
	position: relative;
	background-color: #ed1c24;
	min-height: auto;
	box-sizing: border-box;
	padding: 8px 0;
}
.latest_messagearea .latest_message_right {
	text-align: left;
	box-sizing: border-box;
	padding:15px 0 ;
}
.latest_messagearea {
	overflow: hidden;
	background-color: #262262;
	min-height: auto;
}
.footer_bottom p {

	font-size: 12px;
	
}


}

@media (max-width: 479.98px) {
.bannerarea .rht #sync2 {
	position: relative;
	
}
.bannerarea .rhttext .bannerarea_textbox {
	max-width: 100%;
	padding: 30px;
	padding-top: 120px;
}
.aboutus_area .aboutus_left img.bigimg {
	display: flex;
	height: 300px;
}
.aboutus_area .aboutus_left .ministries_thummini {
	max-width: 160px;
	height: 180px;
	right: -130px;
}
.video-play-button span {
	border-left: 20px solid #fff;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	top: 8px;
	left: 5px;
}
.video-play-button::after {
	
	width: 64px;
	height: 64px;
	
}
.video-play-button::before {
	
	width: 64px;
	height: 64px;
	
}
.aboutus_area .aboutus_right {
	box-sizing: border-box;
	padding: 19px 10px;
}
.gallery_area .afterimg {
	
	display: none;
}
.menu ul li {
	
	padding: 8px 15px 8px 15px;
	
}
.menu ul li span {
	
	right: 15px;
	
}
.ministries_area .ministries_rightbox {
	
	display: none;
}
.subbanner_area {
	min-height: 90px;
	margin-top: 66px;
}
.subbanner_area h2 {
	font-size: 14px;
	
}
.contact_textbox h2 {
	font-size: 24px;
	
}
.contact_textbox.pr-5 {
	padding-right: 0 !important;
}
.contact_textbox hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.contact_iconbox .con_icon i {
	
	font-size: 24px;
	top: 4px;
	
}
.contact_textbox.pl-4 {
	padding-left: 0 !important;
	margin-top: 24px;
}
.sermon_dtles iframe{ height: 200px; }
.sermon_dtles h2 {
    
    font-size: 24px;
    
}
}
@media (max-width: 410.98px) {
	.gallery_area ul li:first-child img {
	max-width: 230px;
	height: 200px;
	margin: 0;
}
.ministries_area .ministries_leftbox .media .media-body h5 {
	
	font-size: 28px;
	
}
.start-header .logomain {
	float: left;
	max-width: 260px;
}
.aboutus_area .aboutus_left .ministries_thummini {
	
	right: -107px;
}
.bannerarea .rht #sync1 .img-hldr {
	height: 260px;
}

}
